body {
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
}

.main {
    max-width: 800px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
}

img {
    height: auto;
}

#groundswell {
    width: 800px;
}

.groundswell_album {
    position: absolute;
    right: 0;
}

.groundswell_inst {
    position: absolute;
    left: 0;
}

#credits {
    width: 100%;
    position: absolute;
}

#anotherLayer {
    width: 100%;
    position: absolute;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.text {
    display: inline-block;
    width: 800px;
}

a {
    color: black;
    text-decoration: none;
}

pre {
    font-family: 'Cardo', serif;
}